.bg-img {
  background-color: black;
  height: 580px;
  margin: 0 auto;
}
.carousel-img {
  background-color: black;
}
body::before {
  display: block;
  content: "";
  height: 70px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
}
#footer-nav li {
  list-style-type: none;
}
